<!--HEADER-->
<header class="header">
  <div class="header-content container">
      <h1>¡Descubre el Encanto Invernal!</h1>
      <p>
          Bienvenido a Copo de Nieve, tu refugio invernal. Descubre la fusión perfecta entre la elegancia y la calidez en cada rincón. En nuestro hotel, cada detalle está diseñado para hacer de tu estancia una experiencia inolvidable. 
      </p>
      <a [routerLink]="['/habitaciones']" class="btn-1">Reservar ahora</a>
  </div>
</header>
<!--INFORMACION HOTEL-->
<section class="hotel">
  <img class="hotel-img" src="../../../assets/img/fondo10.png" alt="">
  <div class="hotel-content container">
      <h2>Nuestra información</h2>
      <p class="txt-p">
          Te invitamos a disfrutar de una experiencia única de alojamiento. Desde nuestras lujosas habitaciones hasta nuestra ubicación estratégica, cada aspecto está diseñado para tu comodidad y placer. Disfruta de servicios excepcionales, una gastronomía de primera clase y actividades locales emocionantes. Además, con nuestras reservas flexibles y ofertas especiales, garantizamos una estancia inolvidable a precios exclusivos. Ven y descubre por qué nuestros huéspedes están encantados con su experiencia en el Hotel Copo de Nieve.
      </p>

      <div class="hotel-group">
          <div class="hotel-1">
              <img src="../../../assets/img/alojamiento.jpeg" width="20px" alt="">
              <h3>Alojamiento de lujo</h3>
              <p>
                  Experimenta la comodidad y el lujo en nuestras habitaciones y suites cuidadosamente diseñadas para tu confort.
              </p>
          </div>

          <div class="hotel-1">
              <img src="../../../assets/img/gastronomia.jpeg" alt="">
              <h3>Gastronomía internacional</h3>
              <p>
                  Saborea una deliciosa selección de platos preparados por nuestros chefs expertos en nuestro restaurante de primera clase.                    </p>
          </div>

          <div class="hotel-1">
              <img src="../../../assets/img/per.jpeg" alt="">
              <h3>Servicio excepcional</h3>
              <p>
                  Disfruta de una amplia gama de servicios, desde nuestra piscina climatizada y spa hasta nuestro servicio de habitaciones las 24 horas.                    </p>
          </div>
      </div>
  </div>
</section>

<!--SERVICIOS HOTEL-->
<main class="services">
  <div class="services-content container">
      <h2>Nuestros Servicios</h2>
      <div class="services-group">

          <div class="services-1">
              <img src="../../../assets/img/wifi_k7dwtocraa4t.svg" alt="">
              <h3>Conexión Wi-Fi</h3>
          </div>

          <div class="services-1">
              <img src="../../../assets/img/24_hours_fermztecww4l.svg" alt="">
              <h3>Recepción 24 horas</h3>
          </div>

          <div class="services-1">
              <img src="../../../assets/img/cleaning.svg" alt="">
              <h3>Servicio de limpieza diario</h3>
          </div>

      </div>

      <p>
          En el Hotel Copo de Nieve, nos dedicamos a brindar una experiencia excepcional a nuestros huéspedes. Nuestra recepción está disponible las 24 horas 
          para atender tus necesidades. Disfruta de habitaciones cómodas con Wi-Fi gratuito y servicio de limpieza diario. Además, ofrecemos un delicioso 
          servicio de habitaciones, asistencia en excursiones y un gimnasio bien equipado. Tu comodidad es nuestra prioridad.
      </p>

  </div>
</main>

<!--GENERAL (MISION Y VISION)-->
<section class="general">
  <div class="general-1">
      <div class="titulo2">
          <h2>Misión</h2>
      </div>
      <p>
          En el Hotel "Copo de Nieve", nos esforzamos por ser más que un hotel tradicional; buscamos ser artesanos de la felicidad, ofreciendo momentos indulgentes que perduran en la memoria. Trabajamos
          incansablemente para crear recuerdos excepcionales, donde la felicidad se mezcla con la creatividad.
      </p>
  </div>
  <div class="general-2"></div>
</section>

<section class="general">
  <div class="general-3"></div>
  <div class="general-1">
      <div class="titulo2">
          <h2>Visión</h2>
      </div>
      <p>
          En "Hotel Copo de Nieve", vislumbramos un futuro donde cada rincón resuene con risas y satisfacción, donde nuestros servicios sean símbolos de felicidad y conexión. Aspiramos a ser pioneros en la industria hotelera, liderando con innovación, responsabilidad ambiental y un compromiso inquebrantable con la calidad. Anhelamos ser reconocidos no solo por nuestros servicios, sino también
          por ser un faro de positividad, inspirando momentos de gozo y creando recuerdos inolvidables que perduren para siempre.
      </p>
  </div>
</section>

<!--ACTIVIDADES HOTEL-->
<section class="blog container">
  <h2>Nuestras actividades</h2>
  <p>
    Nos dedicamos a proporcionar una experiencia integral para nuestros huéspedes, y eso implica una variedad diversa de actividades emocionantes para disfrutar durante tu estancia con nosotros. Desde aventuras en la naturaleza hasta inmersiones en la cultura local, cada momento está diseñado para cautivar y enriquecer tu experiencia. Descubre la belleza natural de los alrededores con nuestras opciones de senderismo y exploración al aire libre, o sumérgete en la rica historia y tradiciones locales a través de nuestras excursiones culturales y eventos especiales. Ya sea que busques adrenalina o tranquilidad, siempre hay algo emocionante esperándote en el Hotel Copo de Nieve.  </p>
  <div class="blog-content">
      <div class="blog-1">
          <img src="../../../assets/img/actividad1.jpeg" alt="">
          <h3>Excursiones guiadas</h3>
          <p>
              Descubre la belleza local con nuestras excursiones guiadas a lugares de interés, sitios históricos y rincones naturales. Explora los secretos de nuestra región acompañado por expertos locales.                </p>
      </div>

      <div class="blog-1">
          <img src="../../../assets/img/actividad2.jpeg" alt="">
          <h3>Deportes invernales</h3>
          <p>
              Aprovecha al máximo el invierno con nuestras emocionantes actividades, incluyendo esquí, snowboard y raquetas de nieve. Descubre la emoción de deslizarte por las laderas nevadas y crea recuerdos inolvidables en la nieve.                </p>
      </div>

      <div class="blog-1">
          <img src="../../../assets/img/actividad3.jpeg" alt="">
          <h3>Senderismo y trekking</h3>
          <p>
              Sumérgete en la naturaleza con nuestras rutas de senderismo cercanas, diseñadas para todos los niveles de habilidad. Disfruta de paisajes impresionantes y respira aire fresco mientras te aventuras en nuestras rutas escénicas.                </p>
      </div>
  </div>
</section>
